@media screen and (max-width: 800px) {
  .todolist {
    width: 90%;
  }
}

@media screen and (max-width: 550px) {
  .form-for-new-edit-login-register-bottom {
    .btn-wrap {
      display: flex !important;
      justify-content: center;
      flex-direction: column;
      align-items: flex-end !important;

      :last-child {
        margin-top: 5px;
      }

      .register-btn {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        height: 2.8rem;
      }

      .btn-wrap-inner {
        width: 100%;

        .btn {
          width: 100%;
        }
      }
    }
  }
}

@media screen and (max-width: 860px) {
  .each-todo {
    height: 5.5rem !important;
  }
}

@media screen and (max-width: 470px) {
  .each-todo {
    height: 7rem !important;
  }
}

@media screen and (max-width: 390px) {
  .each-todo {
    height: 8rem !important;
  }
}

@media screen and (max-width: 360px) {
  .each-todo {
    height: 8.5rem !important;
  }
}

@media screen and (max-width: 335px) {
  .each-todo {
    height: 9.5rem !important;
  }
}

@media screen and (max-width: 310px) {
  .each-todo {
    height: 10rem !important;
  }
}